<div style="padding: 5px; border-bottom: 1px solid #DDDCDC; display: block;">
  <div style="float: left;"><img src="Bilder/topics_icon.png" alt="" /></div>
 	<div style="float: left;">$topiclink<br />$boardlink</div>
    <div style="float: right; padding-top: 9px;"><span class="red_button">$replys</span></div>  
    <div style="clear: both;"></div>
</div>
  <div class="tooltip" id="latesttopics_$n"><small><b>$topictitle_full</b><br />%last_post%: $last_poster<br />%board%: $board<br />$date</small></div>