<div style="float: right; width: 80%;"><form method="post" name="login" action="checklogin.php"> 
<input name="ws_user" type="text" size="16" value="Username" onfocus="this.value=''" /> 
&nbsp;&nbsp;<input name="pwd" type="password" size="16" value="Password" onfocus="this.value=''" />
&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="submit" value="%login%" class="login_button"/>
<a class="red_button" href="index.php?site=register">%register_now%</a> <a class="red_button" href="index.php?site=lostpassword">%lost_password%</a>
</form></div>