
  <table border="0" cellspacing="0" cellpadding="0" style="width:25%; height:200px; float:left; padding: 7px;">
    <tr>
      <td height="23" align="center" valign="middle">$rubricpic</td>
    </tr>
    <tr>
      <td height="23" valign="top" style="padding: 4px;"><a class="titlelink" href="index.php?site=news_comments&amp;newsID=$newsID">$headline</a> $isintern<br />
      <div style="color: #999; font-size: 9px; padding-bottom: 6px;">%written_by% $poster - $date</div></td>
    </tr>
    <tr>
      <td height="23" valign="top"><div align="justify">$content</div></td>
    </tr>
    <tr>
      <td height="23" align="right">$comments <br />$adminaction</td>
    </tr>
  </table>

