<table width="441" border="0" cellspacing="0" cellpadding="0" style="padding-top: 5px;">
<tr>
  <td width="21%" align="center" valign="top"><a class="sub_link" href="$url1" target="_blank">$team1<br /></a>
  <div style="background-image: url(Bilder/topmatch_shadow.png); height: 80px; width: 70px;"><img src="images/topmatch/$logo1" alt="" border="0" /></div></td>
  <td width="11%" align="center"><img src="Bilder/topmatch_vs.png" width="50" height="28" /></td>
  <td width="18%" align="center" valign="top"><a class="sub_link" href="$url2" target="_blank">$team2<br /></a>
  <div style="background-image: url(Bilder/topmatch_shadow.png); height: 80px; width: 70px;"><img src="images/topmatch/$logo2" alt="" border="0" /></div></td>
  <td width="50%" align="right"><div class="topmatch_entry" align="left">Date: <span class="topmatch_highlight">$date - $time</span></div>
    <div class="topmatch_entry" align="left">Maps: <span class="topmatch_highlight">$maps</span></div>
    <div class="topmatch_entry" align="left">League: <span class="topmatch_highlight">$league</span></div>
    <div style="margin-top: 12px;"><a class="red_button" href="http://$matchlink" target="_blank">Matchlink</a></div>
    </td>
</tr>
</table>

